section.header {
	position: relative;
	color: white;
	height: 765px;
	background-image: url('/img/hills_lake_d.png.webp');
	&.mobile {
		background-image: url('/img/hills_lake_m.png.webp');
		height: 251px;
	}
	div.nav {
		display: flex;
		justify-content: space-between;
		flex-flow: row;
		align-items: center;
		width: 100%;
		font-family: 'Red Hat Text';

		background-color: #F2785CB2;
		box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
		&.mobile {
			background-color: transparent;
			box-shadow: none;
		}

		>:first-child {
			margin-left: 120px;
			&.mobile {
				margin-left: 16px;
			}
		}
		>:last-child {
			margin-right: 120px;
			&.mobile {
				margin-right: 20px;
			}
		}

		height: 90px;
		font-weight: 500;
		font-size: 16px;
		line-height: 21px;
		input {
			font-size: inherit;
			line-height: inherit;
			padding: 10px 30px;
		}
	}
	div.content {
		font-family: 'Aleo';
		font-weight: 700;
		display: flex;
		flex-flow: column;
		gap: 46px;

		.subtitle {
			font-style: italic;
			font-size: 20px;
			line-height: 24px;
		}
		.title {
			font-size: 80px;
			line-height: 96px;
		}
		.like-form {
			display: flex;
			flex-flow: row;
			align-items: center;
			justify-content: space-between;
			font-style: italic;
			color: #F2785C;
			background-color: rgba(255, 255, 255, 0.7);
			border-radius: 16px;
			padding: 18px 18px 18px 41px;
			&.mobile {
				padding: 9px;
				padding-left: 16.5px;
				font-size: 14px;
				line-height: 17px;
				font-weight: 400;
			}
		}

		margin-top: 32px;
		margin-left: 120px;
		margin-right: 428px;
		bottom: 221px;
		&.mobile {
			position: absolute;
			margin: 0px;
			top: 142px;
			left: 15px;
			right: 15px;
			bottom: 61px;
		}
	}
}
section >.bicycle-wrapper {
	display: flex;
	flex-flow: row;
	>:first-child {
		margin-right: 231px;
		&.mobile {
			width: 94px;
			margin-right: 31px;
			align-items: flex-start !important;
			* {
				text-align: left !important;
			}
		}
	}
	>* {
		width: 111px;
		* {
			text-align: center !important;
		}
	}
	>:last-child {
		margin-left: 160px;
		&.mobile {
			width: 98px;
			margin-left: 26px;
			align-items: flex-end !important;
			* {
				text-align: right !important;
			}
		}
	}
	justify-content: center;
	padding: 0px 132px;
	&.mobile {
		padding: 0px 15px;
	}
}

section.travel-stories {
	margin-bottom: 0px !important;
	div.stories-footer {
		background-image: url('/img/lake_boat_d.png');
		background-repeat: no-repeat;
		background-clip: content-box;
		background-size: 100% auto;
		background-position: 0% 100%;
		.mobile {
			background-image: url('/img/lake_boat_m.png');
		}
		section.stories {
			background-color: #FFFFFFB2;
			padding: 40px 120px;
			display: flex;
			flex-flow: column;
			gap: 30px;
		}
		section.footer {
			color: white;
			position: relative;
			padding: 21px 0px 19px;
			text-align: center;
			font-family: 'Red Hat Text';
			font-style: normal;
			font-weight: 500;
	
			font-size: 16px;
			line-height: 21px;
		}
	}
}

.social {
	position: absolute;
	display: flex;
	flex-flow: row-reverse;
	gap: 20px;
	top: 14px;
	right: 123px;
	img {
		width: 33.65px;
		height: 33.65px;
		cursor: pointer;
	}
}